<div class="modal-header">
  <h4 class="modal-title">{{ "CREATE_PROVINCE" | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
      <form class="col-12" [formGroup]="createForm" (ngSubmit)="onFormSubmit()">
        <ngx-spinner
          bdColor="rgba(255, 255, 255, 0.100)"
          size="medium"
          color="black"
          type="ball-scale-multiple"
          fullScreen="false">
        </ngx-spinner>
        
        <div class="col-12 form-group">
          <label>{{ "NAME_ENGLISH" | translate }}</label>
          <input
            type="text"
            [placeholder]="'ENTER_ENGLISH_NAME' | translate"
            class="form-control"
            formControlName="nameEn"
            required
            [ngClass]="{'error-border': createForm.get('nameEn').hasError('required') && createForm.get('nameEn').touched}"
          />
          <small class="col-12 text-danger pl-0"
          *ngIf="createForm.get('nameEn').hasError('required') && (createForm.get('nameEn').touched)">
              {{ "IS_REQUIRED" | translate }}
          </small>
        </div>

        <div class="col-12 form-group">
          <label>{{ "NAME_DARI" | translate }}</label>
          <input
            type="text"
            [placeholder]="'ENTER_DARI_NAME' | translate"
            class="form-control"
            formControlName="nameDr"
            required
            [ngClass]="{'error-border': createForm.get('nameDr').hasError('required') && createForm.get('nameDr').touched}"
          />
          <small class="col-12 text-danger pl-0"
          *ngIf="createForm.get('nameDr').hasError('required') && (createForm.get('nameDr').touched)">
              {{ "IS_REQUIRED" | translate }}
          </small>
        </div>

        <div class="col-12 form-group">
          <label>{{ "NAME_PASHTO" | translate }}</label>
          <input
            type="text"
            [placeholder]="'ENTER_PASHTO_NAME' | translate"
            class="form-control"
            formControlName="namePs"
            required
            [ngClass]="{'error-border': createForm.get('namePs').hasError('required') && createForm.get('namePs').touched}"
          />
          <small class="col-12 text-danger pl-0"
          *ngIf="createForm.get('namePs').hasError('required') && (createForm.get('namePs').touched)">
              {{ "IS_REQUIRED" | translate }}
          </small>
        </div>
        <div class="col-12 form-group">
          <div class="form-group">
            <label for="country">{{'COUNTRY'|translate}}
              <span class="required-field">*</span>
            </label>
            <div class="controls">
              <ng-select [items]="countrie$| async" bindLabel="nameDr" bindValue="id"
                formControlName="country"
                [ngClass]="{'error-border': createForm.get('country').hasError('required') && createForm.get('country').touched}">
              </ng-select>
              <small class="col-12 text-danger pl-0"
              *ngIf="createForm.get('country').hasError('required') && (createForm.get('country').touched)">
              {{ "IS_REQUIRED" | translate }}
            </small>
          
            </div>
          </div>
        </div>

        
        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-sm btn-fill mr-2">{{'SUBMIT' | translate }}</button>
          <button class="btn btn-secondary btn-fill btn-sm" (click)="closeModal()" type="button">{{ 'CANCEL' | translate }}</button>
        </div>
      </form>
  </div>
</div>