<div class="modal-header">
    <h4 class="primary text-uppercase">{{ "TRANSITIONS" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  
  <div class="modal-body" style="padding-bottom: 100px;">
    <div class="row" *ngIf=showCreateImportForm>
      <div class="col-12">
        <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
          (click)="showImportListDiv()" title="{{'Import_LIST' | translate}}">
          <i class="ft ft-list"></i>
        </button>
      </div>
      <form class="row col-12" [formGroup]="importForm">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="documentTitle">{{'NUMBER'|translate}}<span
                class="required-field">*</span></label>
            <div class="controls">
              <input type="text" formControlName="import_number" class="form-control"
                [ngClass]="{ 'error-border': importForm.get('import_number').hasError('required') && (importForm.get('import_number').touched) }">
            </div>
            <div *ngIf="importForm.get('import_number').hasError('required') && (importForm.get('import_number').touched)"
              class="text-danger"> <i class="ft-alert-circle align-middle"></i>
              {{'NUMBER'|translate}} {{'IS_REQUIRED'|translate}}
            </div>
          </div>
        </div>
        <div class='col-6'>
          <div class="form-group">
            <label class="form-control-label" for="import_date">{{'DATE'|translate}}
              <span class="required-field">*</span>
            </label>
            <div class="input-group">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button">
                  <i class="fa fa-calendar"></i>
                </button>
              </div>
              <input class="form-control" name="import_date" formControlName="import_date" ngbDatepicker id="import_date"
                #a="ngbDatepicker"
                [ngClass]="{ 'error-border': importForm.get('import_date').hasError('required') && (importForm.get('import_date').touched) }"
                required>
              <div *ngIf="importForm.get('import_date').hasError('required') && (importForm.get('import_date').touched)"
                class="help-block col-12 text-danger"> <i class="ft-alert-circle align-middle"></i>
                {{'DATE'|translate}} {{'IS_REQUIRED'|translate}}
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 form-group">
          <label>{{ "DESCRIPTION" | translate }}
          </label>
          <textarea class="form-control input-md" id="body" name="body" formControlName="body"
            [ngClass]="{ 'error-border': importForm.get('body').hasError('required') && (importForm.get('body').touched) }"></textarea>
        </div>
        <hr class="marginHR" />
  
        <div class="col-12" style="display: flex; justify-content: center; margin-top: 20px;">
          <button class="btn btn-primary btn-fill mr-2" (click)="createImport()">{{'SUBMIT' | translate }}</button>
          <button class="btn btn-secondary btn-fill" (click)="closeModal()" type="button">{{ 'CANCEL' | translate
            }}</button>
        </div>
      </form>
    </div>
    <div *ngIf="showImportList" id="invoice-items-details">
      <div class="row">
        <div class="col-6 align-right">
          <h4>لیست وارده</h4>
        </div>
        <div class="col-6 align-left">
          <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
            (click)="showCreateImportFormDiv()" title="{{'CREATE_IMPORT' | translate}}">
            <i class="ft ft-plus"></i>
          </button>
        </div>
      
        <div class="table-responsive col-12">
          <table class="table mt-3">
            <thead>
              <tr>
                <th>{{'NUMBER' | translate}}</th>
                <th>{{'DATE' | translate}}</th>
                <th>{{'DESCRIPTION' | translate}}</th>
                <th class="text-right">{{ 'ACTIONS' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of imports;">
                <td>
                  <p>{{row.import_number}}</p>
                </td>
                <td>
                  <p>{{row.import_date | date: 'yyyy-MM-dd' | jalali}}</p>
                </td>
                <td>
                  <p>{{row.body}}</p>
                </td>
                <td class="text-right">
                  <div style="display: flex;">
  
                    <button type="button" class="btn btn-icon round" [title]="'EDIT_DEPARTMENT' | translate"
                      (click)="showEditDepartmentFormDiv(row.id)">
                      <i class="ft-edit text-primary cursor-pointer"></i>
                    </button>
  
                    <button type="button" [title]="'DELETE_IMPORT' | translate" class="btn btn-icon round"
                      (click)="deleteImport(row.id)">
  
                      <i class="ft ft-trash text-warning cursor-pointer"></i>
                    </button>
                  </div>
  
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

<div class="row" *ngIf=showCreateExportForm>
  <div class="col-12">
    <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
      (click)="showExportListDiv()" title="{{'EXPORT_LIST' | translate}}">
      <i class="ft ft-list"></i>
    </button>
  </div>
  <form class="row col-12" [formGroup]="exportForm">
    <div class="col-sm-6">
      <div class="form-group">
        <label for="documentTitle">{{'NUMBER'|translate}}<span
            class="required-field">*</span></label>
        <div class="controls">
          <input type="text" formControlName="export_number" class="form-control"
            [ngClass]="{ 'error-border': exportForm.get('export_number').hasError('required') && (exportForm.get('export_number').touched) }">
        </div>
        <div *ngIf="exportForm.get('export_number').hasError('required') && (exportForm.get('export_number').touched)"
          class="text-danger"> <i class="ft-alert-circle align-middle"></i>
          {{'NUMBER'|translate}} {{'IS_REQUIRED'|translate}}
        </div>
      </div>
    </div>
    <div class='col-6'>
      <div class="form-group">
        <label class="form-control-label" for="export_date">{{'DATE'|translate}}
          <span class="required-field">*</span>
        </label>
        <div class="input-group">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="a.toggle()" type="button">
              <i class="fa fa-calendar"></i>
            </button>
          </div>
          <input class="form-control" name="export_date" formControlName="export_date" ngbDatepicker id="export_date"
            #a="ngbDatepicker"
            [ngClass]="{ 'error-border': exportForm.get('export_date').hasError('required') && (exportForm.get('export_date').touched) }"
            required>
          <div *ngIf="exportForm.get('export_date').hasError('required') && (exportForm.get('export_date').touched)"
            class="help-block col-12 text-danger"> <i class="ft-alert-circle align-middle"></i>
            {{'DATE'|translate}} {{'IS_REQUIRED'|translate}}
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 form-group">
      <label>{{ "DESCRIPTION" | translate }}
      </label>
      <textarea class="form-control input-md" id="body" name="body" formControlName="body"
        [ngClass]="{ 'error-border': exportForm.get('body').hasError('required') && (exportForm.get('body').touched) }"></textarea>
    </div>
    <hr class="marginHR" />

    <div class="col-12" style="display: flex; justify-content: center; margin-top: 20px;">
      <button class="btn btn-primary btn-fill mr-2" (click)="createExport()">{{'SUBMIT' | translate }}</button>
      <button class="btn btn-secondary btn-fill" (click)="closeModal()" type="button">{{ 'CANCEL' | translate
        }}</button>
    </div>
  </form>
</div>

<div *ngIf="showExportList" id="invoice-items-details">
  <div class="row">
    <div class="col-6 align-right">
      <h4>لیست صادره</h4>
    </div>
    <div class="col-6 align-left">
      <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right"
        (click)="showCreateExportFormDiv()" title="{{'CREATE_EXPORT' | translate}}">
        <i class="ft ft-plus"></i>
      </button>
    </div>
    <div class="table-responsive col-12">
      <table class="table mt-3">
        <thead>
          <tr>
            <th>{{'NUMBER' | translate}}</th>
            <th>{{'DATE' | translate}}</th>
            <th>{{'DESCRIPTION' | translate}}</th>
            <th class="text-right">{{ 'ACTIONS' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of exports;">
            <td>
              <p>{{row.export_number}}</p>
            </td>
            <td>
              <p>{{row.export_date | date: 'yyyy-MM-dd' | jalali}}</p>
            </td>
            <td>
              <p>{{row.body}}</p>
            </td>
            <td class="text-right">
              <div style="display: flex;">

                <button type="button" class="btn btn-icon round" [title]="'EDIT_DEPARTMENT' | translate"
                  (click)="showEditExportFormDiv(row.id)">
                  <i class="ft-edit text-primary cursor-pointer"></i>
                </button>

                <button type="button" [title]="'DELETE_EXPORT' | translate" class="btn btn-icon round"
                  (click)="deleteExport(row.id)">

                  <i class="ft ft-trash text-warning cursor-pointer"></i>
                </button>
              </div>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
    <ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7"
      type="ball-spin-clockwise-fade" [fullScreen]="true">
    </ngx-spinner>
  </div>