<div class="modal-header">
    <h4 class="modal-title">{{ "CREATE_WORKFLOW" | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <form class="col-12" [formGroup]="createForm" (ngSubmit)="onFormSubmit()">
          <ngx-spinner
            bdColor="rgba(255, 255, 255, 0.100)"
            size="medium"
            color="black"
            type="ball-scale-multiple"
            fullScreen="false">
          </ngx-spinner>

          <div class="col-12 form-group">
            <label>{{ "NAME_ENGLISH" | translate }}</label>
            <input
              type="text"
              [placeholder]="'ENTER_ENGLISH_NAME' | translate"
              class="form-control"
              formControlName="nameEn"
              required
              [ngClass]="{'error-border': createForm.get('nameEn').hasError('required') && createForm.get('nameEn').touched}"
            />
            <small class="col-12 text-danger pl-0"
            *ngIf="createForm.get('nameEn').hasError('required') && (createForm.get('nameEn').touched)">
                {{ "IS_REQUIRED" | translate }}
            </small>
          </div>

          <div class="col-12 form-group">
            <label>{{ "NAME_DARI" | translate }}</label>
            <input
              type="text"
              [placeholder]="'ENTER_DARI_NAME' | translate"
              class="form-control"
              formControlName="nameDr"
              required
              [ngClass]="{'error-border': createForm.get('nameDr').hasError('required') && createForm.get('nameDr').touched}"
            />
            <small class="col-12 text-danger pl-0"
            *ngIf="createForm.get('nameDr').hasError('required') && (createForm.get('nameDr').touched)">
                {{ "IS_REQUIRED" | translate }}
            </small>
          </div>

          <div class="col-12 form-group">
            <label>{{ "NAME_PASHTO" | translate }}</label>
            <input
              type="text"
              [placeholder]="'ENTER_PASHTO_NAME' | translate"
              class="form-control"
              formControlName="namePs"
              required
              [ngClass]="{'error-border': createForm.get('namePs').hasError('required') && createForm.get('namePs').touched}"
            />
            <small class="col-12 text-danger pl-0"
            *ngIf="createForm.get('namePs').hasError('required') && (createForm.get('namePs').touched)">
                {{ "IS_REQUIRED" | translate }}
            </small>
          </div>

          <div class="col-12 form-group">
            <label>{{ "PROCESS_DAYS" | translate }}</label>
            <input
              type="number"
              min="0"
              [placeholder]="'ENTER_NUMBER_OF_PROCESS_DAYS' | translate"
              class="form-control"
              formControlName="processDays"
              required
              [ngClass]="{'error-border': createForm.get('processDays').hasError('required') && createForm.get('processDays').touched}"
            />
            <small class="col-12 text-danger pl-0"
            *ngIf="createForm.get('processDays').hasError('required') && (createForm.get('processDays').touched)">
                {{ "IS_REQUIRED" | translate }}
            </small>
          </div>

          <div class="col-12 form-group">
            <label>{{ "SERIAL_NO" | translate }}</label>
            <input
              type="number"
              min="0"
              [placeholder]="'ENTER_SERIAL_NO' | translate"
              class="form-control"
              formControlName="serialNo"
            />
          </div>

          <!-- <div class="col-12 form-group">
            <label>{{ "STEPS" | translate }}</label>
            <ng-select
            [items]="data"
            bindLabel="nameDr"
            bindValue="id"
            [multiple]="true"
            placeholder="Select step"
            clearAllText="Clear"
            formControlName="stepsIds">
          </ng-select>
          </div> -->
          <br><bR><bR>
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-sm btn-fill mr-2">{{'SUBMIT' | translate }}</button>
            <button class="btn btn-secondary btn-fill btn-sm" (click)="closeModal()" type="button">{{ 'CANCEL' | translate }}</button>
          </div>
        </form>
    </div>
  </div>
