<div class="modal-header">
  <h4 class="modal-title">{{ "EDIT_USER" | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="row">
    <form class="col-12" [formGroup]="userEditForm" (ngSubmit)="onEditFormSubmit()">
      <ngx-spinner bdColor="rgba(255, 255, 255, 0.500)" size="medium" color="black" type="ball-scale-multiple" fullScreen="false"> </ngx-spinner>

      <div class="col-12 form-group" *ngIf="isClient$">
        <label>{{ "IS_THIS_USER_CLIENT?" | translate }}
        </label>
        <div class="switchery-success d-flex align-items-center">
          <ui-switch class="switchery" (change)="isUserClient($event)" size="small" [checked]="isClient$" [disabled]="true"></ui-switch>
        </div>
      </div>

      <div class="col-12 form-group" *ngIf="isWorkflow$">
        <label>{{ "IS_THIS_USER_RELATED_WORKFLOW?" | translate }}
        </label>
        <div class="switchery-success d-flex align-items-center">
          <ui-switch class="switchery" (change)="isUserWorkflow($event)" size="small" [checked]="isWorkflow$" [disabled]="true"></ui-switch>
        </div>
      </div>

      <div class="col-12 form-group">
        <label>{{ "NAME" | translate }}</label>
        <input
          type="text"
          placeholder="Enter name"
          name="name"
          class="form-control"
          formControlName="name"
          [ngClass]="{'error-border': userEditForm.get('name').invalid && userEditForm.get('name').touched}"
          required
        />
        <small class="col-12 text-danger pl-0"
            *ngIf="userEditForm.get('name').hasError('required') && (userEditForm.get('name').touched)">
              Name must not be empty
        </small>
      </div>

      <div class="col-12 form-group">
        <label>{{ "USERNAME" | translate }}</label>
        <div class="description">{{userEditForm.value.username}}</div>
      </div>

      <div class="col-12 form-group" *ngIf="isClient$">
        <label>{{ "ORGANIZATION" | translate }}</label>
        <ng-select
          [items]="organizations$"
          bindLabel="nameDr"
          bindValue="id"
          [placeholder]="'SELECT_ORGANIZATION' | translate"
          clearAllText="Clear"
          formControlName="entity_id">
        </ng-select>
      </div>

      <div class="col-12 form-group" *ngIf="isWorkflow$">
        <label>{{ "WORKFLOW" | translate }}</label>
        <ng-select
          [items]="workflows$"
          bindLabel="nameDr"
          bindValue="id"
          [placeholder]="'SELECT_WORKFLOW' | translate"
          clearAllText="Clear"
          formControlName="workflow_id">
        </ng-select>
      </div>

      <div class="col-12 form-group" *ngIf="isClient$ == false && isWorkflow$ == false">
        <label>{{ "DEPARTMENT" | translate }}</label>
        <ng-select
          [items]="departments$"
          bindLabel="nameDr"
          bindValue="id"
          [placeholder]="'SELECT_DEPARTMENT' | translate"
          clearAllText="Clear"
          formControlName="departmentId">
        </ng-select>
      </div>

      <div class="col-12 form-group">
        <label>{{ "GROUPS" | translate }}</label>
        <ng-select
          [items]="data.allGroups"
          bindLabel="name"
          bindValue="id"
          [multiple]="true"
          groupBy="groups"
          placeholder="Select Groups"
          clearAllText="Clear"
          formControlName="groups">
          <ng-template ng-optgroup-tmp let-item="item">
            {{ item.slug }}
          </ng-template>
          <ng-template ng-option-tmp let-item="item">
            {{ item.name }}
          </ng-template>
        </ng-select>
      </div>

      <div class="col-12 form-group">
        <label>{{ "PHONE_NUMBER" | translate }}</label>
        <input
          type="text"
          placeholder="Enter phone number"
          name="phoneNo"
          class="form-control"
          formControlName="phone_no"
          [ngClass]="{'error-border': userEditForm.get('phone_no').invalid && userEditForm.get('phone_no').touched}"
          required/>
          <small class="col-12 text-danger pl-0"
          *ngIf="userEditForm.get('phone_no').hasError('required') && (userEditForm.get('phone_no').touched)">
            Phone number must not be empty
          </small>
      </div>

      <div class="col-12 form-group">
        <label>{{ "ADDRESS" | translate }}</label>
        <input
          type="text"
          placeholder="Enter address"
          name="address"
          class="form-control"
          formControlName="address"
          [ngClass]="{'error-border': userEditForm.get('address').invalid && userEditForm.get('address').touched}"
          required
        />
        <small class="col-12 text-danger pl-0"
            *ngIf="userEditForm.get('address').hasError('required') && (userEditForm.get('address').touched)">
              Address must not be empty
        </small>
      </div>

      <div class="col-12 form-group">
        <label>{{ "EMAIL_ADDRESS" | translate }}</label>
        <input
          type="email"
          placeholder="Enter email"
          name="address"
          class="form-control"
          [ngClass]="{'error-border': userEditForm.get('email').invalid && userEditForm.get('email').touched}"
          formControlName="email"
          required/>
          <small class="col-12 text-danger pl-0"
          *ngIf="userEditForm.get('email').hasError('required') && (userEditForm.get('email').touched)">
            Email must not be empty
          </small>
          <small class="col-12 text-danger pl-0"
          *ngIf="userEditForm.get('email').hasError('email') && (userEditForm.get('email').touched)">
            Email must be of correct form
          </small>
      </div>

      <div class="col-12 form-group">
        <label>{{ "IS_THIS_USER_ADMIN" | translate }}
        </label>
        <div class="switchery-success d-flex align-items-center">
          <ui-switch class="switchery" (change)="isUserAdmin($event)" size="small"></ui-switch>
        </div>
      </div>

      <div class="col-12 form-group">
        <label>{{ "ACTIVE" | translate }}</label>
          <div>
            <ul class="list-unstyled mb-0">
              <li class="d-inline-block mr-2">
                <div class="radio radio-primary">
                  <input type="radio" value="true" id="active" formControlName="active">
                  <label class="text-primary" for="active">{{ "TRUE" | translate }}</label>
                </div>
              </li>
              <li class="d-inline-block">
                <div class="radio radio-danger">
                  <input type="radio" value="false" id="inactive" formControlName="active">
                  <label class="text-danger" for="inactive">{{ "FALSE" | translate }}</label>
                </div>
              </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary mr-sm-2 mb-1">{{ "SUBMIT" | translate }}</button>
        <button type="button" (click)="closeModal()" class="btn btn-secondary mb-1">{{ "CANCEL" | translate }}</button>
      </div>
    </form>
  </div>
</div>
