<div class="modal-header">
    <h4 class="primary text-uppercase">{{ 'ARE_YOU_SURE_YOU_WANT_TO_DELETE_THIS_RECORD?' | translate }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body">
  <div class="col-12">
    <button type="button" class="btn btn-outline-danger btn-fill ml-2" (click)="deleteRecord();">{{ 'DELETE' | translate }}</button>
    <button type="button" class="btn btn-secondary btn-fill" (click)="closeModal()">{{ 'CANCEL' | translate }}</button>
  </div>
</div>
<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7"
type="ball-spin-clockwise-fade" [fullScreen]="true">
</ngx-spinner>