
<section id="ngx-datatables-server-side">
  <div class="row text-left">
      <div class="col-12">
          <div class="content-header">
              {{ 'ANNOUNCEMENT_LIST' | translate }}
              <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" (click)="refresh()"
                  [class.fa-spin]="loading" >
                  <i class="ft ft-refresh-cw"></i>
              </button>
              <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" (click)="back()"
              *ngIf="globals.principal.hasAuthority(['TAQNIN_ANNOUNCEMENT_MODULE','ANNOUNCEMENT_ADMIN_LIST'])">
                <i class="ft ft-home"></i>
              </button>
              <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" (click)="addNew()"
              *ngIf="globals.principal.hasAuthority(['TAQNIN_ANNOUNCEMENT_MODULE','ANNOUNCEMENT_ADMIN_CREATE'])">
                  <i class="ft ft-plus"></i>
              </button>
          </div>
      </div>
  </div>
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-header">
                  <div class="form-row">
                      <div class="col-md-4 col-12">
                          <div class="input-group">
                              <input type="text" #searchBar class="form-control">
                              <div class="input-group-append">
                                  <button class="btn btn-primary" type="button" (click)="searchTerm(searchBar.value)">
                                      {{'SEARCH'|translate}}
                                  </button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card-content">
                  <div class="card-body">
                      <ng-container *ngIf="dTableFlag">
                          <ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows"
                              [columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                              [limit]="10" [selectionType]="'single'">

                              <ngx-datatable-column [name]="'ID' | translate" prop="id" [width]="50">
                                  <ng-template ngx-datatable-cell-template let-value="value">
                                      {{ value }}
                                    </ng-template>
                              </ngx-datatable-column>
                              <ngx-datatable-column [name]="'TITLE' | translate" prop="title"></ngx-datatable-column>
                              <ngx-datatable-column [name]="'PUBLISHER' | translate" prop="publisher"></ngx-datatable-column>
                              <ngx-datatable-column [name]="'CREATED_BY' | translate" prop="createdBy"></ngx-datatable-column>
                              <ngx-datatable-column [name]="'CREATION_DATE' | translate" prop="createdAt"></ngx-datatable-column>
                              <ngx-datatable-column [name]="'ACTIONS' | translate" [width]="100">
                                  <ng-template ngx-datatable-cell-template let-row="row" let-rowIndex="row_index">
                                      <ngx-spinner
                                      bdColor="rgba(255, 255, 255, 0.100)"
                                      size="medium"
                                      color="black"
                                      type="ball-scale-multiple"
                                      fullScreen="false">
                                      </ngx-spinner>

                                      <button
                                      class="btn btn-icon round" (click)="viewRecord(row.id)"
                                      *ngIf="globals.principal.hasAuthority(['TAQNIN_ANNOUNCEMENT_MODULE','ANNOUNCEMENT_ADMIN_VIEW'])">
                                      <i class="ft-eye text-primary cursor-pointer"></i>
                                      </button>

                                      <button type="button"
                                      class="btn btn-icon round"  (click)="editRecord(row.id)"
                                      *ngIf="globals.principal.hasAuthority(['TAQNIN_ANNOUNCEMENT_MODULE','ANNOUNCEMENT_ADMIN_EDIT'])">
                                      <i class="ft-edit text-primary cursor-pointer"></i>
                                      </button>

                                      <button type="button" class="btn btn-icon round" (click)="deleteRecord(row.id)"
                                      *ngIf="globals.principal.hasAuthority(['TAQNIN_ANNOUNCEMENT_MODULE','ANNOUNCEMENT_ADMIN_DELETE'])">
                                          <i class="ft ft-trash text-warning cursor-pointer"></i>
                                      </button>

                                  </ng-template>
                              </ngx-datatable-column>
                          </ngx-datatable>
                      </ng-container>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7" type="ball-spin-clockwise-fade"
[fullScreen]="true">
</ngx-spinner>
