<br><br>
<div class="row match-height justify-content-center">
	<div class="col-md-4 col-12">
		<div class="card cursor-pointer" (click)="openPage('CABINETS')">
			<div class="card-header text-center pb-0">
				<span class="font-medium-2 info">{{ 'CABINET_OF_AFG'|translate }}</span>
				<h3 class="font-large-2 mt-2">120
				<span class="font-medium-1 grey text-bold-400">{{ 'TOTAL_DOCUMENTS'|translate }}</span>
				</h3>
			</div>
			<div class="card-content">
				<div id="donut-chart2" class="text-center">
					<img src="assets/img/afg-emblem.png" alt="element 06" height="150">
				</div>
				<div class="card-body text-center">
				<span class="font-large-1 d-block mb-1"></span>
				<span class="font-medium-1"></span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-12">
		<div class="card cursor-pointer" (click)="openPage('COUNCILS')">
			<div class="card-header text-center pb-0">
				<span class="font-medium-2 info">{{ 'HIGH_COUNCILS'|translate }}</span>
				<h3 class="font-large-2 mt-2">60
				<span class="font-medium-1 grey text-bold-400">{{ 'TOTAL_RPOCESSED_DOCUMENTS'|translate }}</span>
				</h3>
			</div>
			<div class="card-content">
				<div id="donut-chart2" class="text-center">
					<img src="assets/img/afg-emblem.png" alt="element 06" height="150">
				</div>
				<div class="card-body text-center">
				<span class="font-large-1 d-block mb-1"></span>
				<span class="font-medium-1"></span>
				</div>
			</div>
		</div>
	</div>
</div>