<!--Login Page Starts-->

<div id="login">
  <div class="row">
    <div class="col-12" style="display: flex; justify-content: space-evenly; padding: 10px;">
      <div style="padding: 20px; padding-bottom:0px; margin: 20px; margin-bottom: 0px; ">
        <div style="float: right;">د افغانستان اسلامي جمهوريت</div>
        <div style="text-align: right;">د عدلیې وزارت</div>
        <!-- <div style="text-align: center;">د کادري چارو، اصلاحاتو او د دولت د تشکیلاتو د بیاکتنې ریاست</div> -->
    </div>
    <div>
      <img src="assets/img/afg-emblem.png" alt="" class="img-fluid" width="120" height="130">
    </div>
      <div style="padding: 20px; margin: 20px;">
        <div style="text-align: center;">جمهوری اسلامی افغانستان</div>
        <div style="text-align: center;">وزارت عدلیه</div>
        <!-- <div style="text-align: center;">ریاست امور کادری، اصلاحات و بازنگری تشکیلات دولت</div> -->
      </div>
    </div>
  </div>

  <div class="row" style="display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;">  
        <div style="margin-bottom: 20px;">
          <!-- <div style="font-weight:bold; background-color:rgba(255, 255, 255, 0.336); padding: 10px; text-align: center;">د لوړپوړو دولتي چارواکو او مقاماتو د ذاتي چارو سیستم</div> -->
          <!-- <div style="font-weight:bold; background-color:rgba(255, 255, 255, 0.568); padding: 10px; text-align: center;">سیستم امور ذاتی مقامات عالی رتبه دولتی و مقامات دولتی</div> -->
          
        </div>
    </div>
  
  <div class="row" style="margin-right: 10rem; margin-top: -6rem;">
    <div style="padding: 10px;">
      <div class="card overflow-hidden">
          <div  class="card-body" style="width:20rem;">
            <ngx-spinner bdColor="rgba(255, 255, 255, 0.500)" size="medium" color="black" type="ball-scale-multiple" fullScreen="false"> </ngx-spinner>
              <div class="col-12">
                <ngb-alert type="light-danger" class="mb-2" *ngIf="isLoginFailed" (close)="isLoginFailed = false">
                  <p class="mb-0">{{ "LOGIN_FAILED" | translate }}</p>
                </ngb-alert>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                  <div class="form-group">
                    <input type="text" formControlName="username" class="form-control" [placeholder]="'USERNAME' | translate"
                      [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.username.invalid, 'is-valid': loginFormSubmitted && !lf.username.invalid }"
                      required>
                    <div *ngIf="loginFormSubmitted && (lf.username.invalid || lf.username.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                        {{ "IS_REQUIRED" | translate }}
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" formControlName="password" class="form-control" [placeholder]="'PASSWORD' | translate"
                      [ngClass]="{ 'is-invalid': loginFormSubmitted && lf.password.invalid, 'is-valid': loginFormSubmitted && !lf.password.invalid }"
                      required>
                    <div *ngIf="loginFormSubmitted && (lf.password.invalid || lf.password.errors?.required)"
                      class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                      {{ "IS_REQUIRED" | translate }}
                    </div>
                  </div>
                  <div class="d-sm-flex justify-content-between mb-3 font-small-2">
                    <div class="remember-me mb-2 mb-sm-0">
                      <!-- <div class="checkbox auth-checkbox">
                        <input type="checkbox" formControlName="rememberMe" class="form-control" id="rememberMe">
                        <label for="rememberMe"><span class="font-small-2 mb-3 font-weight-normal">Remember Me</span></label>
                      </div> -->
                    </div>
                    <!-- <a [routerLink]="['/template/pages/forgotpassword']">Forgot Password?</a> -->
                  </div>
                  <div>
                    <button style="width:100%;" class="btn btn-info" type="submit">{{'LOGIN'| translate}}</button>
                  </div>
                </form> 
                <hr>
                <div class="col-12" style="display: flex; justify-content: center;">
                  <select [(ngModel)]="selectedLanguageAbbr" class="col-6 custom-select custom-select-sm" (change)="alterLanguage()">
                    <option *ngFor="let lang of languages" [value]="lang.abbr">{{ lang.name }}</option>
                  </select>
                </div>               
              </div>
            
          </div>
      </div>
    </div>

  </div>
</div>
<!--Login Page Ends-->
