<div class="modal-header">
  <h4 class="modal-title">{{ "CREATE_DOCTYPE" | translate }}</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
      <form class="col-12" [formGroup]="doctypeCreateForm" (ngSubmit)="onFormSubmit()">
        <ngx-spinner
          bdColor="rgba(255, 255, 255, 0.100)"
          size="medium"
          color="black"
          type="ball-scale-multiple"
          fullScreen="false">
        </ngx-spinner>

        <div class="col-12 form-group">
          <label>{{ "NAME_ENGLISH" | translate }}</label>
          <input
            type="text"
            [placeholder]="'ENTER_ENGLISH_NAME' | translate"
            class="form-control"
            formControlName="nameEn"
            required
            [ngClass]="{'error-border': doctypeCreateForm.get('nameEn').hasError('required') && doctypeCreateForm.get('nameEn').touched}"
          />
          <small class="col-12 text-danger pl-0"
          *ngIf="doctypeCreateForm.get('nameEn').hasError('required') && (doctypeCreateForm.get('nameEn').touched)">
              {{ "IS_REQUIRED" | translate }}
          </small>
        </div>

        <div class="col-12 form-group">
          <label>{{ "NAME_DARI" | translate }}</label>
          <input
            type="text"
            [placeholder]="'ENTER_DARI_NAME' | translate"
            class="form-control"
            formControlName="nameDr"
            required
            [ngClass]="{'error-border': doctypeCreateForm.get('nameDr').hasError('required') && doctypeCreateForm.get('nameDr').touched}"
          />
          <small class="col-12 text-danger pl-0"
          *ngIf="doctypeCreateForm.get('nameDr').hasError('required') && (doctypeCreateForm.get('nameDr').touched)">
              {{ "IS_REQUIRED" | translate }}
          </small>
        </div>

        <div class="col-12 form-group">
          <label>{{ "NAME_PASHTO" | translate }}</label>
          <input
            type="text"
            [placeholder]="'ENTER_PASHTO_NAME' | translate"
            class="form-control"
            formControlName="namePs"
            required
            [ngClass]="{'error-border': doctypeCreateForm.get('namePs').hasError('required') && doctypeCreateForm.get('namePs').touched}"
          />
          <small class="col-12 text-danger pl-0"
          *ngIf="doctypeCreateForm.get('namePs').hasError('required') && (doctypeCreateForm.get('namePs').touched)">
              {{ "IS_REQUIRED" | translate }}
          </small>
        </div>


        <div class="col-12">
          <button type="submit" class="btn btn-primary btn-sm btn-fill mr-2">{{'SUBMIT' | translate }}</button>
          <button class="btn btn-secondary btn-fill btn-sm" (click)="closeModal()" type="button">{{ 'CANCEL' | translate }}</button>
        </div>
      </form>
  </div>
</div>
