<div class="modal-header">
  <h4 class="modal-title">{{'ADD'|translate}}&nbsp;{{'ACADEMIC-DEGREE'|translate}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addForm" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <label for="type">{{'ACADEMIC_DEGREE_TYPE'|translate}}
                <span class="required-field">*</span>
              </label>
              <div class="controls">
                <ng-select [items]="academicDegreeType$|async" bindLabel="nameDr" bindValue="id" formControlName="type"
                  (clear)="setToNull(addForm,'type')"
                  [ngClass]="{ 'is-invalid': addFormSubmitted && cpf.type.invalid, 'is-valid': addFormSubmitted && !cpf.type.invalid }"
                  required>
                </ng-select>
                <div *ngIf="addFormSubmitted && (cpf.type.invalid || cpf.type.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                  {{'ACADEMIC_DEGREE_TYPE'|translate}} {{'IS_REQUIRED'|translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- second row -->
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <label for="title">{{'ACADEMIC_DEGREE_TITLE'|translate}}
                <span class="required-field">*</span>
              </label>
              <div class="controls">
                <input type="text" formControlName="title" class="form-control"
                  [ngClass]="{ 'is-invalid': addFormSubmitted && cpf.title.invalid, 'is-valid': addFormSubmitted && !cpf.title.invalid }"
                  required>
                <div *ngIf="addFormSubmitted && (cpf.title.invalid || cpf.title.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                  {{'ACADEMIC_DEGREE_TITLE'|translate}} {{'IS_REQUIRED'|translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <label for="shumara">{{'SHUMARA'|translate}}
                <span class="required-field">*</span>
              </label>
              <div class="controls">
                <input type="text" formControlName="shumara" class="form-control"
                  [ngClass]="{ 'is-invalid': addFormSubmitted && cpf.shumara.invalid, 'is-valid': addFormSubmitted && !cpf.shumara.invalid }"
                  required>
                <div *ngIf="addFormSubmitted && (cpf.shumara.invalid || cpf.shumara.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                  {{'SHUMARA'|translate}} {{'IS_REQUIRED'|translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 3rd row -->
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="form-group">
              <label class="form-control-label" for="date">{{'DATE'|translate}}
                <span class="required-field">*</span>
              </label>
              <div class="controls">
                <div class="input-group">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="h.toggle()" type="button">
                      <i class="fa fa-calendar"></i>
                    </button>
                  </div>
                  <input class="form-control" formControlName="date" ngbDatepicker #h="ngbDatepicker"
                    [ngClass]="{ 'is-invalid': addFormSubmitted && cpf.date.invalid, 'is-valid': addFormSubmitted && !cpf.date.invalid }"
                    required>
                </div>
                <div *ngIf="addFormSubmitted && (cpf.date.invalid || cpf.date.errors?.required)"
                  class="help-block mt-1 text-danger"> <i class="ft-alert-circle align-middle"></i>
                  {{'DATE'|translate}} {{'IS_REQUIRED'|translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="loading" type="submit">{{ 'SAVE' | translate }}</button>
    <button class="btn btn-warning" type="button" (click)="closeModal()">{{ 'CLOSE' | translate }}</button>
  </div>
</form>
