.upload-box {
    border-bottom: 2px solid rgba(128, 128, 128, 0.445);
    margin-bottom: 15px; 
    padding-bottom: 10px;
}


.upload-field-title {
    width: 70%;
    color: rgb(56, 54, 54); 
    font-size: 18px;
}

.upload-status {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    margin-top: 10px;
}

.file-name {
    color:rgb(63, 60, 60);
    font-size: 12px;
    margin-bottom: 5px;
}

.upload-action-buttons {
    display: flex;
    flex-direction: row-reverse;
}