<section id="ngx-datatables-server-side">
    <div class="row text-left">
        <div class="col-12">
            <div class="content-header">
                {{ 'PERMISSION_MANAGEMENT' | translate }}
                <button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" (click)="refresh()"
                [class.fa-spin]="loading" >
                <i class="ft ft-refresh-cw"></i>
            </button>
            </div>
        </div>
	</div>

	<div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="form-row">

                        <div class="col-md-4 col-12 ml-auto">
                            <div class="input-group">
                                <input type="text" #searchBar class="form-control">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" (click)="searchTerm(searchBar.value)">
                                        <i class="ft ft-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-body">
                        <ng-container *ngIf="dTableFlag">
                            <ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows"
							[columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto"
                                [limit]="10" [selectionType]="'single'">
                                <ngx-datatable-column [name]="'ID' | translate" prop="id">
                                    <ng-template ngx-datatable-cell-template let-value="value">
                                        {{ value }}
                                      </ng-template>
                                </ngx-datatable-column>
                                <ngx-datatable-column [name]="'NAME' | translate" prop="name"></ngx-datatable-column>
                                <ngx-datatable-column [name]="'DESCRIPTION' | translate" prop="description"></ngx-datatable-column>
                                <ngx-datatable-column [name]="'ACTIVE' | translate" prop="active"></ngx-datatable-column>
                            </ngx-datatable>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
