<section id="ngx-datatables-server-side">
	<div class="row">
		<div class="col-12 mt-2">
			<h4>{{'AGENDA'|translate}}</h4>
		</div>
	</div>
	<!-- Filter starts -->
	<!-- <div class="row">
		<div class="col-12">
			<div class="users-list-filter px-2">
			<form [formGroup]="filterForm" (ngSubmit)="applyFilter()">
				<div class="row border rounded py-2 mb-2 mx-n2">
					<div class="col-12 col-sm-6 col-lg-4">
						<label for="users-list-verified">{{'HOST_DEPARTMENT'|translate}}</label>
						<fieldset class="form-group">
							<ng-select [items]="departments$ | async" bindLabel="nameDr" bindValue="nameDr"
								formControlName="host_department">
							</ng-select>
						</fieldset>
					</div>

					<div class="col-12 col-sm-6 col-lg-2">
						<label for="users-list-role">{{'SUBJECT'|translate}}</label>
						<fieldset class="form-group">
							<input type="text" class="form-control" formControlName="visit_subject"/>
						</fieldset>
					</div>
					<div class="col-12 col-sm-6 col-lg-2">
						<label for="users-list-status">{{'SOURCE'|translate}}</label>
						<fieldset class="form-group">
							<input type="text" class="form-control"  formControlName="visit_source"/>
						</fieldset>
					</div>

                    <div class="col-12 col-sm-6 col-lg-2">

                        <div class="form-group">
                            <label class="form-control-label" for="visit_date">{{'VISIT_DATE'|translate}}
                                <span class="required-field">*</span>
                            </label>
                            <div class="input-group">
                                <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                                    <i class="fa fa-calendar"></i>
                                </button>
                                </div>
                                <input class="form-control" name="visit_date" formControlName="visit_date" ngbDatepicker
                                    id="visitDate" #d="ngbDatepicker">
                            </div>
                        </div>
                    </div>

					<div class="col-12 col-sm-6 col-lg-2 d-flex align-items-center">
						<button type="submit" class="btn btn-primary btn-block users-list-clear">
							{{'SEARCH'|translate}}
						</button>&nbsp;
						<button type="reset" class="btn btn-warning btn-block users-list-clear" style="margin-top:initial" (click)="resetFilters()">
							{{'CLEAR'|translate}}
						</button>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div> -->
	<!-- Filter ends -->
	<div class="row">
	<div class="col-12">
		<div class="card">
		<div class="card-header">
			<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" (click)="reload()">
			<i class="ft ft-refresh-cw"></i>
			</button>
			<button type="button" class="btn btn-outline-info btn-icon round mr-1 mb-1 pull-right" title="Add Document"
			[disabled]="loading" (click)="addNewRecord()">
			<i class="ft ft-plus"></i>
			</button>

			<!-- <div class="col-md-3 col-3">
			<div class="form-group">
				<select #pageLength class="form-control" (change)="setPageLength(pageLength.value)">
				<option *ngFor=" let pl of pageLengths" [selected]="20">
					{{ pl.count }} {{ 'RECORDS' | translate }}
				</option>
				<option value="-1">{{ 'ALL' | translate }}</option>
				</select>
			</div>
			</div> -->
		</div>
		<div class="card-content">
			<div class="card-body">
			<ng-container *ngIf="tableOptions">
				<!-- ngx-datatables-server-side -->
				<ngx-datatable #table class="bootstrap core-bootstrap" [rows]="rows" [columns]="columns" [virtualization]="false"
					[columnMode]="ColumnMode.force" [headerHeight]="50" [footerHeight]="50" rowHeight="auto" [limit]="tableOptions.length"
					[loadingIndicator]="dataLoadingFlag" [scrollbarH]="true" (page)="setPage($event)" [reorderable]="reorderable" [swapColumns]="swapColumns"
					[externalPaging]="true" [externalSorting]="true" [count]="recordsTotal" [offset]="tableOptions.draw"
					[sorts]="[{prop: 'ID', dir: 'desc'}]" (sort)="onSort($event)">

					<ngx-datatable-column name="{{'ID'|translate}}" prop="ID" [width]="50"></ngx-datatable-column>
					<ngx-datatable-column name="{{'AGENDA_NO'|translate}}" prop="AGENDA_NO" [width]="100"></ngx-datatable-column>
					<ngx-datatable-column name="{{'MEETING_LOCATION'|translate}}" prop="LOCATION" [width]="100"></ngx-datatable-column>
					<ngx-datatable-column name="{{ 'MEETING_DATE' | translate }}">
						<ng-template let-row="row" ngx-datatable-cell-template>
						  {{row.MEETING_DATE | date: 'yyyy-MM-dd' | jalali}}
						</ng-template>
					  </ngx-datatable-column>
					<ngx-datatable-column name="{{'MEETING_TIME'|translate}}" prop="TIME" [width]="100"></ngx-datatable-column>
					<ngx-datatable-column name="{{'STATUS'|translate}}" [width]="180" [sortable]="true">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<div class="badge badge-pill" [ngClass]="{'bg-light-success':row.STATUS == 'FINALIZED', 'bg-light-danger':row.STATUS == 'REJECTED' , 'bg-light-warning':row.STATUS == 'DRAFT' }">
								{{ row.STATUS }}
							</div>
						</ng-template>
					</ngx-datatable-column>
					<ngx-datatable-column name="{{'ACTIONS'|translate}}" [width]="70" [sortable]="false">
						<ng-template let-row="row" ngx-datatable-cell-template>
							<button type="button" class="btn btn-icon round" [title]="'AGENDA_DETAILS' | translate"
							(click)="viewAgendaDetails(row.ID)">
							<i class="ft-file-text text-primary cursor-pointer"></i>
						  </button>
						</ng-template>
					</ngx-datatable-column>
					
				</ngx-datatable>
				<!--/ ngx-datatables-server-side -->
			</ng-container>
			</div>
		</div>
		</div>
	</div>
	</div>
</section>


<ngx-spinner class="loader" bdOpacity=0.3 bdColor="#f4f4f9" size="large" color="#b416f7" type="ball-spin-clockwise-fade"
	[fullScreen]="true">
</ngx-spinner>
