<div class="modal-header">
	<div class="modal-title">{{ "VIEW_USER" | translate }}</div>
	<button
	type="button"
	class="close"
	aria-label="Close"
	(click)="closeModal()"
	>
	<span aria-hidden="true">&times;</span>
	</button>
</div>

<div class="modal-body">
	<div class="row">
		<div class="col-12 form-group">
			<h6 class="title"><strong>{{ "NAME" | translate }}: </strong></h6>
			<h6 class="description">{{ data.user.name }}</h6>
		</div>
		<div class="col-12 form-group">
			<h6 class="title"><strong>{{ "USERNAME" | translate }}: </strong></h6>
			<h6 class="description">{{ data.user.username }}</h6>
		</div>
    <div class="col-12 form-group row-view" *ngIf="data.user.isClient != null && data.user.isClient">
      <div class="title"><strong>{{ "IS_THIS_USER_CLIENT?" | translate }}: </strong></div>
      <div *ngIf="data.user.isClient" class="description title badge badge-spanill bg-light-info">{{ 'TRUE' | translate }}</div>
      <div *ngIf="!data.user.isClient" class="description title badge badge-spanill bg-light-warning">{{ 'FALSE' | translate }}</div>
    </div>
    <div class="col-12 form-group row-view" *ngIf="data.user.isClient!= null && data.user.isWorkflow">
      <div class="title"><strong>{{ "IS_THIS_USER_RELATED_WORKFLOW?" | translate }}: </strong></div>
      <div *ngIf="data.user.isWorkflow" class="description title badge badge-spanill bg-light-info">{{ 'TRUE' | translate }}</div>
      <div *ngIf="!data.user.isWorkflow" class="description title badge badge-spanill bg-light-warning">{{ 'FALSE' | translate }}</div>
    </div>
    <div class="col-12 form-group" *ngIf="data.user.isClient != null && data.user.isClient">
      <h6 class="title"><strong>{{ "ORGANIZATION" | translate }}: </strong></h6>
      <h6 class="description">{{ data.user.entity?.nameDr }}</h6>
    </div>
    <div class="col-12 form-group" *ngIf="data.user.isClient!= null && data.user.isWorkflow">
      <h6 class="title"><strong>{{ "WORKFLOW" | translate }}: </strong></h6>
      <h6 class="description">{{ data.user.workflow?.nameDr }}</h6>
    </div>

    <div class="col-12 form-group" *ngIf="data.user.department != null && !this.data.isClient && !this.data.isWorkflow">
      <h6 class="title"><strong>{{ "DEPARTMENT" | translate }}: </strong></h6>
      <h6 class="description">{{ data.user.department?.nameDr }}</h6>
    </div>
		<div class="col-12 form-group">
			<h6 class="title"><strong>{{ "GROUPS" | translate }}: </strong></h6>
			<h6 *ngFor="let group of data.groups" class="description badge badge-pill badge-primary mr-1 mb-1">{{ group.name }}</h6>
    </div>
    <div class="col-12 form-group">
			<h6 class="title"><strong>{{ "PERMISSIONS" | translate }}: </strong></h6>
			<h6 *ngFor="let auth of data.authorities" class="description badge badge-pill badge-primary mr-1 mb-1">{{ auth.authority }}</h6>
    </div>
    <div class="col-12 form-group">
			<h6 class="title"><strong>{{ "EMAIL_ADDRESS" | translate }}: </strong></h6>
			<h6 class="description">{{ data.user.email }}</h6>
    </div>
    <div class="col-12 form-group">
			<h6 class="title"><strong>{{ "PHONE_NUMBER" | translate }}: </strong></h6>
			<h6 class="description">{{ data.user.phoneNo }}</h6>
    </div>
    <div class="col-12 form-group">
			<h6 class="title"><strong>{{ "ADDRESS" | translate }}: </strong></h6>
			<h6 class="description">{{ data.user.address }}</h6>
		</div>

    <div class="col-12 form-group" *ngIf="data.user.isAdmin">
      <h6 class="title"><strong>{{ "IS_THIS_USER_ADMIN" | translate }}: </strong></h6>
      <h6 class="description title badge badge-spanill bg-light-info">{{ 'TRUE' | translate }}</h6>
    </div>

    <div class="col-12 form-group" *ngIf="!data.user.isAdmin">
      <h6 class="title"><strong>{{ "IS_THIS_USER_ADMIN" | translate }}: </strong></h6>
      <h6 class="description title badge badge-spanill bg-light-warning">{{ 'FALSE' | translate }}</h6>
    </div>

		<div class="col-12 form-group">
			<h6 class="title"><strong>{{ "STATUS" | translate }}: </strong></h6>
			<h6 class="description badge badge-pill badge-info">
				{{data.user.active ? "Active" : "Inactive"}}</h6>
		</div>

	</div>
</div>

<div
	class="modal-footer col-12 d-flex flex-sm-row flex-column justify-content-end">
	<button
	type="button"
	class="btn btn-secondary mb-1"
	(click)="closeModal()"
	>
	{{ "CANCEL" | translate }}
	</button>
</div>
